{% extends "tapbar.html" %}
{% block container %}
<div class="container">
    <h1>รายชื่อข้อมูลในระบบ</h1>
    <table class="table table-bordered border-primary">
        <thead>
          <tr>
            <th scope="col">ชื่อ</th>
            <th scope="col">นามสกุล</th>
            <th scope="col">เบอร์โทร</th>
            <th scope="col">คำสั่ง</th>
          </tr>
        </thead>
        <tbody>
        {% for row in data %}
        
        <tr>
            <td>{{row.1}}</td>
            <td>{{row.2}}</td>
            <td>{{row.3}}</td>
            <td>
                <a href="/update1/{{row.0}}/{{row.1}}/{{row.2}}/{{row.3}}" class="btn btn-primary">Edit</a>
                <a href="/delete/{{row.0}}" class="btn btn-danger btn-xs" onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่')">Delete</a>
            </td>
            <br>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </label>
    <a href="/student" class="btn btn-primary">เพิ่มรายชื่อใหม่</a>
</div>

{% endblock %}